.state {
    fill: lightgrey;
    transition: fill 0.5s ease-in-out;
  }
  .outline{
    fill: none;
    stroke: white;
    stroke-width: 1.5px;
  }
  .tooltip {
      pointer-events: none;
  }
  p, .main {
    font-size: 18px;
    margin-bottom: 0px;
    font-family: 'Work Sans', sans-serif;
  }
  h4, h1{
    font-family: 'Dela Gothic One', sans-serif;
    margin-bottom: 0px;
    font-weight: 300;
  }
  h1{
    font-size: 40px;
    margin-bottom: 10px
  }
  h4{
    margin-top: 10px;
    font-size: 28px
  }