@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Press+Start+2P&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    background-color: whitesmoke;
}


a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#surveyElement {
    --primary: #f87171;
    --background: #ffffff;
    --background-dim: #f3f3f3;
    --background-dim-light: #f9f9f9;
    --primary-foreground: #ffffff;
    --foreground: #161616;
    --base-unit: 8px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: whitesmoke;
    }
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 0 0px rgba(250, 67, 95, 0.7);
    }

    100% {
        box-shadow: 0 0 0 60px rgba(0, 0, 0, 0);
    }
}

.mutual-crush-glow {
    animation: pulse-glow 1s infinite alternate;
}

svg,
div {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.main {
    font-family: 'Work Sans'
}