.match_list {
    margin-top: -400px;
}

/** heartbeat animation **/

.container {
    box-sizing: border-box;
    font-size: 62.5%;
}

.main {
    width: 500px;
    height: 400px;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

.layer1 {
    width: 12rem;
    height: 12rem;
    background-color: #fecdd3;
    position: relative;
    transform: rotate(45deg);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    animation: hbeat 1.5s linear 10;
}

.layer1::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fecdd3;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer1::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fecdd3;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

.absolute {
    position: absolute;
    top: 400px;
}

.absolute1 {
    position: absolute;
    top: 410px;
}

.layer2 {
    width: 10rem;
    height: 10rem;
    background-color: #fda4af;
    position: relative;
    transform: rotate(45deg);
    animation: hbeat 1.5s linear 10;
}

.layer2::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fda4af;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer2::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fda4af;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

.absolute2 {
    position: absolute;
    top: 420px;
}

.layer3 {
    width: 8rem;
    height: 8rem;
    background-color: #fb7185;
    position: relative;
    transform: rotate(45deg);
    animation: hbeat 1.5s linear 10;
}

.layer3::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fb7185;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer3::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fb7185;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

.absolute3 {
    position: absolute;
    top: 430px;
}

.absolute4:hover {
    cursor: pointer;
}

.layer4 {
    width: 6rem;
    height: 6rem;
    background-color: #f43f5e;
    position: relative;
    transform: rotate(45deg);
    animation: hbeat 1.5s linear 10;
}

.layer4::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f43f5e;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer4::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f43f5e;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

.absolute4 {
    position: absolute;
    top: 455px;
    font-size: 70px;
    z-index: 10;
    animation: size 1.5s linear 10;
    transform: translateY(-50%);
}

.layer1_fading {
    width: 12rem;
    height: 12rem;
    background-color: #fecdd3;
    position: relative;
    transform: rotate(45deg);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    animation: hbeat2 2s 1 linear forwards;
}

.layer1_fading::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fecdd3;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer1_fading::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fecdd3;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

.layer2_fading {
    width: 10rem;
    height: 10rem;
    background-color: #fda4af;
    position: relative;
    transform: rotate(45deg);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    animation: hbeat2 2s 1 linear forwards;
}

.layer2_fading::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fda4af;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer2_fading::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fda4af;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

.layer3_fading {
    width: 8rem;
    height: 8rem;
    background-color: #fb7185;
    position: relative;
    transform: rotate(45deg);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    animation: hbeat2 2s 1 linear forwards;
}

.layer3_fading::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fb7185;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer3_fading::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fb7185;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

.layer4_fading {
    width: 6rem;
    height: 6rem;
    background-color: #f43f5e;
    position: relative;
    transform: rotate(45deg);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    animation: hbeat2 2s 1 linear forwards;
}

.layer4_fading::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f43f5e;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.layer4_fading::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f43f5e;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

@keyframes hbeat {
    0% {
        transform: rotate(45deg) scale(1);
    }

    20% {
        transform: rotate(45deg) scale(1);
    }

    40% {
        transform: rotate(45deg) scale(1.4);
    }

    60% {
        transform: rotate(45deg) scale(1.2);
    }

    80% {
        transform: rotate(45deg) scale(1.4);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }
}

@keyframes hbeat2 {
    0% {
        transform: rotate(45deg) scale(1);
        opacity: 1;
    }

    20% {
        transform: rotate(45deg) scale(2);
        opacity: 0.8;
    }

    40% {
        transform: rotate(45deg) scale(3);
        opacity: 0.6;
    }

    60% {
        transform: rotate(45deg) scale(4);
        opacity: 0.4;
    }

    80% {
        transform: rotate(45deg) scale(5);
        opacity: 0.2;
    }

    90% {
        transform: rotate(45deg) scale(6);
        opacity: 0.1;
    }

    99% {
        transform: rotate(45deg) scale(7);
        opacity: 0;
    }

    100% {
        transform: rotate(45deg) scale(8);
        opacity: 0;
        display: none;
    }
}

@keyframes hbeat3 {
    0% {
        transform: rotate(45deg) scale(1);
        opacity: 1;
    }

    20% {
        transform: rotate(45deg) scale(1.1);
        opacity: 0.8;
    }

    40% {
        transform: rotate(45deg) scale(1.2);
        opacity: 0.6;
    }

    60% {
        transform: rotate(45deg) scale(1.3);
        opacity: 0.4;
    }

    80% {
        transform: rotate(45deg) scale(1.4);
        opacity: 0.2;
    }

    90% {
        transform: rotate(45deg) scale(1.5);
        opacity: 0.1;
    }

    91% {
        transform: rotate(45deg) scale(1.5);
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes size {
    0% {
        font-size: 70px;
    }

    20% {
        font-size: 70px;
    }

    40% {
        font-size: 90px;
    }

    60% {
        font-size: 80px;
    }

    80% {
        font-size: 90px;
    }

    100% {
        font-size: 70px;
    }
}

@media screen and (max-width: 640px) {
    .main {
        height: 250px;
        width: 300px;
    }

    .layer1,
    .layer1_fading {
        width: 7rem;
        height: 7rem;
    }

    .layer2,
    .layer2_fading {
        width: 6rem;
        height: 6rem;
    }

    .layer3,
    .layer3_fading {
        width: 5rem;
        height: 5rem;
    }

    .layer4,
    .layer4_fading {
        width: 4rem;
        height: 4rem;
    }

    .absolute4 {
        font-size: 60px;
        top: 450px;
    }

    .match_list {
        margin-top: -250px;
    }
}

@media screen and (max-width: 1024px) {
    .layer4_fading,
    .layer3_fading,
    .layer1_fading,
    .layer2_fading {
        animation: hbeat3 2s 1 linear forwards;
    }
}
